<div class="container">
  <div class="header">
    <h2 style="font-size : 24px; text-transform : capitalize; font-weight : bold">hotel riu plaza miami beach</h2>
    <p>
      Your adventure begins with a scenic drive down the coast to Chukka's Ocean Outpost in Sandy Box, which is the historic blue hole estate still boasting 18th century ruins of the once thriving sugar plantation. This is where ocean-loving thrill seekers and cultural explorers unite. Step aboard the Chukka Catamaran and sail way with us to Jamaica's natural and exquisite reef system. Our certified guids will give you a brief safety demonstration, and then it's time to experience the clear blue Caribbean Sea and marine wildlife beneath.
    </p>
    <p>
      Prople effortlessly through the water, like many have seen in James bond movies, with your powerful underwater Sea Dooscooter - the only ones in Jamaica! Glide near the surface of dive to take a close look at beautiful coral, sea fans, and colourful tropical fish in this unique and thrilling adventure. Once back onboard, practice you dance moves at your 'Sail Away Rum Punch Party' with our Chukka DJ and take in the view of Jamaica's coastline. Back at Ocean Outpost, savour an authentic Jamaican lunch, ocean-side at Gilly's Restaurant; the perfect end to an unforgettable day!
    </p>
  </div>
  <div class="desc-content">
    <h2>Experience</h2>
    <app-item-desc [title]="title1" [items]="items1"></app-item-desc>
    <hr>
    <app-item-desc [title]="title2" [items]="items2"></app-item-desc>
    <hr>
    <app-item-desc [title]="title3" [items]="items3"></app-item-desc>
    <hr>
    <div class="map">
      <div>
        <google-map width="60%" height="300px"></google-map>
      </div>
      <!-- <div>
        <ul>
          <li>Montega Bay, Jamaca</li>
        </ul>
      </div> -->
    </div>
    <hr>
    <app-item-desc [title]="title4" [items]="items4"></app-item-desc>
    <hr>
    <app-item-desc [title]="title5" [items]="items5"></app-item-desc>
    <hr>
    <app-item-desc [title]="title6" [items]="items6"></app-item-desc>
  </div>
</div>