<div class="headers">
  <div>
    <h1 style="text-transform: capitalize; font-weight: bold;color: rgb(80, 80, 80);">
      hyatt zilara rose hall - adults only
      <div style="font-size: 15px;display: inline;">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </h1>
    <p>
      <b>Location:</b>Hall's Dr, Montego Bay|
      <a href="" style="text-decoration: underline;color: rgb(7, 131, 193);">
        <i class="fas fa-map-marker-alt"></i>
        View Map
      </a>
    </p>
  </div>
  
  <div style="display: flex;">
    <div class="text-right">
      <div style="font-size: 12px;">
        <del>$695$ from&nbsp;</del><b style="font-size: 20px;">$ 695</b>
        <br>
        USD<br>
        Per Night
      </div>
    </div>
    <div class="dropdown">
      <button type="button" class="btn btn-primary btn-choose dropdown-toggle">Choose a Room
        <span class="caret"></span>
      </button>
      <!-- <ul class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </ul> -->
    </div>
      
    
    
  </div>
</div>
<div class="container" style="margin-bottom: 20px;background-color: rgb(239, 239, 239);">
  <div class="row">
    <div class="navs col-12">
      <span>
        Rooms & rates
      </span>
      <span class="actives">
        hotel description
      </span>
      <span>
        amenities
      </span>
      <span>
        child policy
      </span>
    </div>

    <div class="row">
  
      <div class="col-12 col-md-6 col-lg-7">
        <img src="assets/images/ports.png" class="img-fluid" width="600">
        <div class="img-slider">
          <ng-image-slider [images]="imageObject" #nav [imageSize]="size"></ng-image-slider>
        </div>
        
      </div>

      <div style="padding: 20px 40px;" class="col-12 col-md-6 col-lg-5">
        <img src="assets/images/advisor.png" width="150">
        <br>
        <div>
          <h3 style="color: rgb(4, 129, 113);margin-top: 15px;">Reviews for Hyatt Zilara Rose Hall</h3>
          <div style="display: flex;">
            <div style="color: rgb(4, 129, 113);font-size: 70px;font-weight: bold;margin-right: 15px;margin-top: 20px;">
              4.5
            </div>
            <div>
              <div style="font-weight: bold;">Excellent</div>
              <img src="assets/images/review-on.png">
              <img src="assets/images/review-on.png">
              <img src="assets/images/review-on.png">
              <img src="assets/images/review-on.png">
              <img src="assets/images/review-off.png">
              <br>
              <p style="font-weight: bold;">4783 reviews</p>
            </div>
          </div>
          <div style="margin-top: 20px;">
            <p style="font-weight: 500;">Tripadvisor Ranking</p>
            <div>#3 of 7 hotels in Rose Hall</div>
            <a href="" style="color: rgb(4, 129, 113);font-weight: bold;">Write a Review</a>
          </div>
        </div>

        <div style="margin-top: 30px;">
          <div style="font-weight: bold;">
            Featured Ameniteis <a href="">&nbsp;View More</a>
          </div>
          <ul>
            <div>
              <li><i class="fas fa-check"></i>&nbsp;Gym</li>
              <li><i class="fas fa-check"></i>&nbsp;Free WiFi</li>
              <li><i class="fas fa-check"></i>&nbsp;24-Hour Front Desk</li>
            </div>
            <div style="width: 30px;"></div>
            <div>
              <li><i class="fas fa-check"></i>&nbsp;WiFi</li>
              <li><i class="fas fa-check"></i>&nbsp;Ooutdoor Pool</li>
            </div>
            
            
          </ul>
        </div>
      </div>
    </div>
  </div>

  
</div>