<div class="row">
  <div class="col-12 col-lg-8">
    <!-- <div>
      <div style="display: inline-block;">

        <p>Check-in</p>
        <div class="bubble">
          12:00 PM
        </div>
      </div>
      <div style="display: inline-block;">
        <p>Check-in</p>
        <div class="bubble">
          12:00 PM
        </div>
      </div>
    </div> -->
    <div class="flex-container">
      <div style="width: 20%;">
        Children
      </div>
      <div style="width: 70%;">
        All children are welcome. There is no capacity for extra beds number of total guests in a room is 4. There is no capacity
      </div>
    </div>
    <div class="flex-container">
      <div style="width: 20%;">
        Pets
      </div>
      <div style="width: 70%;">
        All children are welcome. There is no capacity for extra beds number of total guests in a room is 4. There is no capacity
      </div>
    </div>
    <div class="flex-container">
      <div style="width: 20%;">
        Room Policies
      </div>
      <div style="width: 70%;">
        All children are welcome. There is no capacity for extra beds number of total guests in a room is 4. There is no capacity
      </div>
    </div>
    <div class="flex-container">
      <div style="width: 20%;">
        Special Instructions
      </div>
      <div style="width: 70%;">
        All children are welcome. There is no capacity for extra beds number of total guests in a room is 4. There is no capacity
      </div>
    </div>

  </div>
  <div class="col-12 col-lg-4">
    <p>Language Spoken</p>
    <ul>
      <li>English</li>
      <li>Spanish</li>
    </ul>
    <div>
      <h3>Cards accepted at this property</h3>
      
    </div>
  </div>
</div>