.flex-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}