<footer class="container-fluid">
  <div class="footer container">
    <div class="subfooter row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4"><app-links [title]="title1" [data]="data1"></app-links></div>
          <div class="col-md-4"><app-links [title]="title2" [data]="data2"></app-links></div>
          <div class="col-md-4"><app-links [title]="title3" [data]="data3"></app-links></div>
        </div>
        
      </div>
      <div class="col-md-4">
        <app-sign-form></app-sign-form>
      </div>

    </div>
    
    
    
  </div>
  
</footer>