<div class="container">
  <div class="bottom-footer">
    <div class="row">
      <div class="col-sm-12 copyrights" style="color: black;">
        <ul>
          <li>
            <p style="color: black">® 2020 Vacaymenow. All rights reserved. Use of this website constitutes acceptance of the Vacaymenow <a href="https://www.vacaymenow.com/home/termsCondition" target="_blank">Terms and Condition</a> and <a href="https://www.vacaymenow.com/home/privacyPolicy" target="_blank">Privacy Policy</a></p>
          </li>
        </ul>
        <p style="text-align: center; margin-bottom: 10px;">
          <img src="https://www.vacaymenow.com/public/icon/iatan-bw.jpg" style="width: 60px; margin-left: 10px;">
          <img src="https://www.vacaymenow.com/public/icon/mastercard-old.svg" style="width: 75px; margin-left: 10px;color: black;fill: black;">
          <img src="https://www.vacaymenow.com/public/icon/visa.svg" style="width: 75px; margin-left: 10px;color: black;fill: black;">
          <img src="https://www.vacaymenow.com/public/icon/discover.svg" style="width: 100px; margin-left: 10px;color: black;fill: black;">
          <img src="https://www.vacaymenow.com/public/icon/amex.svg" style="width: 75px; margin-left: 10px;color: black;fill: black;">
        </p>
      </div>
    </div>
  </div>
</div>