<div class="">
    <div class="ads row">
  
      <div class="col-12 col-lg-4">
        <img src="assets/images/1.png" class="img-fluid" alt="Tours" width="240" style="margin-left: -15px;">
      </div>
      <div class="col-12 col-lg-8">
        <div class="item-container">
          <div class="item-header flex-container">
            <div>
              <h4 style="font-size: 16px;color: rgb(7,133,194);font-weight: bold;text-transform: capitalize;margin-bottom: 5px;">{{title}}</h4>
              <!-- <p style="font-weight: bold;text-transform: capitalize;">{{subtitle}}</p> -->
              <p style="margin-right: 10px;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </p>
            </div>          
          </div>
          <div class="item-content">
            <p>
              {{content}}
            </p>
          </div>
          <div class="item-footer flex-container">
            <div class="icons">
              <span><i class="fa fa-map-marker"></i>&nbsp;Location:</span><br>
              <span><i class="fa fa-calendar icon"></i>&nbsp;Duration:</span>
        
            </div>
            <div id="price">
              from<br>
              <span style="color:rgb(230, 38, 54);">US${{price}}</span>
              <!-- <span style="color: rgb(138, 134, 133);">from</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
