
<div id="footer">
    <footer>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="subfooter">
                <div class="top-footer">
                  <div class="row no-padding">
                    <div class="col-md-8">
                      <div class="row no-padding">
                        <div class="col-md-4 footer-links">
                          <h4>Hotels in Jamaica</h4>
                          <ul class="row no-padding">
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/hotels/results" method="post">
                                <input type="hidden" name="cityid" value="21057">
                                <input type="hidden" name="cityName" value="Montego Bay, Jamaica">
                                <input type="hidden" name="checkIn" value="22/05/2020"><input type="hidden" name="checkOut" value="23/05/2020"><input type="hidden" name="room_count" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0">                              <button class="button_link" type="submit">Hotels in Montego Bay Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/hotels/results" method="post">
                                <input type="hidden" name="cityid" value="21060">
                                <input type="hidden" name="cityName" value="Ocho Rios, Jamaica">
                                <input type="hidden" name="checkIn" value="22/05/2020"><input type="hidden" name="checkOut" value="23/05/2020"><input type="hidden" name="room_count" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0">                              <button class="button_link" type="submit">Hotels in Ocho Rios Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/hotels/results" method="post">
                                <input type="hidden" name="cityid" value="21059">
                                <input type="hidden" name="cityName" value="Negril, Jamaica">
                                <input type="hidden" name="checkIn" value="22/05/2020"><input type="hidden" name="checkOut" value="23/05/2020"><input type="hidden" name="room_count" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0">                              <button class="button_link" type="submit">Hotels in Negril Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/hotels/results" method="post">
                                <input type="hidden" name="cityid" value="21064">
                                <input type="hidden" name="cityName" value="Port Antonio, Jamaica">
                                <input type="hidden" name="checkIn" value="22/05/2020"><input type="hidden" name="checkOut" value="23/05/2020"><input type="hidden" name="room_count" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0">                              <button class="button_link" type="submit">Hotels in Portland Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/hotels/results" method="post">
                                <input type="hidden" name="cityid" value="21052">
                                <input type="hidden" name="cityName" value="Kingston, Jamaica">
                                <input type="hidden" name="checkIn" value="22/05/2020"><input type="hidden" name="checkOut" value="23/05/2020"><input type="hidden" name="room_count" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0">                              <button class="button_link" type="submit">Hotels in Kingston Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/hotels/results" method="post">
                                <input type="hidden" name="cityid" value="21080">
                                <input type="hidden" name="cityName" value="Treasure Beach, Jamaica">
                                <input type="hidden" name="checkIn" value="22/05/2020"><input type="hidden" name="checkOut" value="23/05/2020"><input type="hidden" name="room_count" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="adults[]" value="1"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0"><input type="hidden" name="childs[]" value="0">                              <button class="button_link" type="submit">Hotels in Treasure Beach Jamaica</button>
                              </form>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-4 footer-links">
                          <h4>Villas in Jamaica</h4>
                          <ul class="row no-padding">
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/villa/results" method="post">
                                <input type="hidden" name="cityid" value="21057">
                                <input type="hidden" name="cityName" value="Montego Bay, Jamaica">
                                <input type="hidden" name="fromDate" value="22/05/2020"><input type="hidden" name="toDate" value="23/05/2020"><input type="hidden" name="bedrooms" value="1"><input type="hidden" name="bathrooms" value="1"><input type="hidden" name="guests" value="1">                              <button class="button_link" type="submit">Villas in Montego Bay Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/villa/results" method="post">
                                <input type="hidden" name="cityid" value="21060">
                                <input type="hidden" name="cityName" value="Ocho Rios, Jamaica">
                                <input type="hidden" name="fromDate" value="22/05/2020"><input type="hidden" name="toDate" value="23/05/2020"><input type="hidden" name="bedrooms" value="1"><input type="hidden" name="bathrooms" value="1"><input type="hidden" name="guests" value="1">                              <button class="button_link" type="submit">Villas in Ocho Rios Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/villa/results" method="post">
                                <input type="hidden" name="cityid" value="21043">
                                <input type="hidden" name="cityName" value="Discovery Bay, Jamaica">
                                <input type="hidden" name="fromDate" value="22/05/2020"><input type="hidden" name="toDate" value="23/05/2020"><input type="hidden" name="bedrooms" value="1"><input type="hidden" name="bathrooms" value="1"><input type="hidden" name="guests" value="1">                              <button class="button_link" type="submit">Villas in Discovery Bay Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/villa/results" method="post">
                                <input type="hidden" name="cityid" value="21064">
                                <input type="hidden" name="cityName" value="Port Antonio, Jamaica">
                                <input type="hidden" name="fromDate" value="22/05/2020"><input type="hidden" name="toDate" value="23/05/2020"><input type="hidden" name="bedrooms" value="1"><input type="hidden" name="bathrooms" value="1"><input type="hidden" name="guests" value="1">                              <button class="button_link" type="submit">Villas in Portland Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/villa/results" method="post">
                                <input type="hidden" name="cityid" value="21052">
                                <input type="hidden" name="cityName" value="Kingston, Jamaica">
                                <input type="hidden" name="fromDate" value="22/05/2020"><input type="hidden" name="toDate" value="23/05/2020"><input type="hidden" name="bedrooms" value="1"><input type="hidden" name="bathrooms" value="1"><input type="hidden" name="guests" value="1">                              <button class="button_link" type="submit">Villas in Kingston Jamaica</button>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <form role="form" action="https://www.vacaymenow.com/villa/results" method="post">
                                <input type="hidden" name="cityid" value="21080">
                                <input type="hidden" name="cityName" value="Treasure Beach, Jamaica">
                                <input type="hidden" name="fromDate" value="22/05/2020"><input type="hidden" name="toDate" value="23/05/2020"><input type="hidden" name="bedrooms" value="1"><input type="hidden" name="bathrooms" value="1"><input type="hidden" name="guests" value="1">                              <button class="button_link" type="submit">Villas in Treasure Beach Jamaica</button>
                              </form>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-3 footer-links">
                          <h4>Start your vacation</h4>
                          <ul class="row no-padding">
                            <li class="col-xs-12">
                              <a href="https://www.vacaymenow.com/hotels">Hotels</a>
                            </li>
                            <li class="col-xs-12">
                              <a href="https://www.vacaymenow.com/villa">Villas</a>
                            </li>
                            <li class="col-xs-12">
                              <a href="https://www.vacaymenow.com/holiday">Tours</a>
                            </li>
                            <li class="col-xs-12">
                              <a href="//discover.vacaymenow.com/" target="_blank">Discover Jamaica</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row no-padding">
                        <div class="col-md-12 footer-links">
                          <p>Sign up for email-only Coupon, Special Offers and promotions.</p>
                          <ul class="row no-padding">
                            <li class="col-xs-12">
                              <form action="https://www.vacaymenow.com/home/subscribe" method="post">
                                <div class="input-group subscribe">
                                  <input type="email" name="email" class="form-control" placeholder="Enter your email address" required="">
                                  <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
                                  </span>
                                </div>
                              </form>
                            </li>
                            <li class="col-xs-12">
                              <h4>Vacaymenow.com</h4>
                            </li>
                            <li class="col-xs-12 seperator">
                              <a href="https://partner.vacaymenow.com/about-us">About Vacaymenow</a>|
                              <a href="https://discover.vacaymenow.com">Discover Jamaica</a>|
                              <!-- <a href="#">Customer Support</a>| -->
                              <a href="https://www.vacaymenow.com/home/termsCondition">Terms &amp; Conditions</a>|
                              <a href="https://www.vacaymenow.com/home/privacyPolicy">Privacy Policy</a>|
                              <a href="tel:13022124246"><i class="fa fa-phone"></i> 1-302-212-4246</a>
                            </li>
                            <li class="col-xs-12 social-media">
                              <ul>
                                <li>
                                  <a target="_blank" href="https://facebook.com/vacaymenow" class="facebook" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                  <a target="_blank" href="https://instagram.com/vacaymenow" class="instagram" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                  <a target="_blank" href="https://twitter.com/vacaymenow" class="twitter" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                  <a target="_blank" href="https://www.youtube.com/channel/UCQ0-e0PMKNyaDI_lp8_TFRA" class="youtube" title="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div style="background: #fff; width: 100%;">
    <div class="container">
      <div class="bottom-footer">
                  <div class="row">
                    <div class="col-sm-12 copyrights" style="color: black;">
                      <ul>
                        <li>
                         <p style="color: black">® 2020 Vacaymenow. All rights reserved. Use of this website constitutes acceptance of the Vacaymenow <a href="https://www.vacaymenow.com/home/termsCondition" target="_blank">Terms and Condition</a> and <a href="https://www.vacaymenow.com/home/privacyPolicy" target="_blank">Privacy Policy</a></p>
                        </li>
                      </ul>
                      <p style="text-align: center; margin-bottom: 10px;">
                        <img src="https://www.vacaymenow.com/public/icon/iatan-bw.jpg" style="width: 60px; margin-left: 10px;">
                        <img src="https://www.vacaymenow.com/public/icon/mastercard-old.svg" style="width: 75px; margin-left: 10px;color: black;fill: black;">
                        <img src="https://www.vacaymenow.com/public/icon/visa.svg" style="width: 75px; margin-left: 10px;color: black;fill: black;">
                        <img src="https://www.vacaymenow.com/public/icon/discover.svg" style="width: 100px; margin-left: 10px;color: black;fill: black;">
                        <img src="https://www.vacaymenow.com/public/icon/amex.svg" style="width: 75px; margin-left: 10px;color: black;fill: black;">
                      </p>
                    </div>
                  </div>
                </div>
    </div>
    </div>
</div>
