
<section id="header">
    <div class="top-header top-mega-menu">
      <div class="container">
        <!-- mega menu -->
        <ul class="travel-mega-menu travel-mega-menu-response-to-icons travel-mega-menu-anim-scale" style="width: 1%;display: table-cell;vertical-align: middle;">
          <li class="center">
            <a class="top-menu-txt" href="https://www.vacaymenow.com/" style="padding: 0;background: transparent;"><img src="../img/logo/logo.png" width="190"></a>
          </li>
        </ul>
        <ul class="travel-mega-menu travel-mega-menu-response-to-icons travel-mega-menu-anim-scale" style="display: table-cell;width: 51%;text-align: right;vertical-align: middle;border-right: 1px solid #ddd;">
          <li class="">
            <a class="top-menu-txt" href="https://www.vacaymenow.com/hotels">HOTELS</a>
          </li>
          <li class="">
            <a class="top-menu-txt" href="https://www.vacaymenow.com/villa">VILLAS</a>
          </li>
          <li class="">
            <a class="top-menu-txt" href="https://www.vacaymenow.com/holiday">TOURS</a>
          </li>
          <li class="">
            <a class="top-menu-txt" href="http://discover.vacaymenow.com/" target="_blank">DISCOVER JAMAICA</a>
          </li>
          <li class="">
            <a class="top-menu-txt" href="http://reggae.vacaymenow.com/" target="_blank">Reggae Club</a>
          </li>
        </ul>
        <ul class="travel-mega-menu travel-mega-menu-response-to-icons travel-mega-menu-anim-scale" style="display: table-cell;width: 48%;text-align: right;vertical-align: middle;">
          <li class="">
            <a class="top-menu-txt badge badge-info" href="http://partner.vacaymenow.com" target="_blank">LIST YOUR PROPERTY</a>
          </li>
          <li class="logininpval" style="text-transform: uppercase;">
            <div id="ischecklogin" data-val="no" style="display: none;"></div>
  <a class="top-menu-txt" href="#"><i class="fa fa-user"></i> &nbsp;<i class="fa fa-angle-down"></i></a>
  <div class="grid-container2 blue-link user-dropdown">
    <ul>
      <li><a class="top-menu-txt" href="#" data-toggle="modal" data-target="#modalLogin">Sign In</a></li>
      <li><a class="top-menu-txt" href="#" data-toggle="modal" data-target="#modalRegister">Create Account</a></li>
    </ul>
  </div>
          </li>
          <li class="">
            <a class="top-menu-txt font14" href="javascript:;"><i class="flag-icon flag-icon-us font14"></i> USD</a>
            <!-- <div class="grid-container blue-link user-dropdown">
              <ul>
                <li><a href="#"><i class="flag-icon flag-icon-us"></i> JMD</a></li>
              </ul>
            </div> -->
          </li>
          <li class="">
            <a class="top-menu-txt" href="tel:13022124246" style="margin-right: 0;"><i class="fa fa-phone"></i> 1-302-212-4246</a>
          </li>
          <!-- <li class="center">
            <a class="top-menu-txt" href="#" data-toggle="modal" data-target="#modalLogin">Sign In</a>
          </li>
          <li class="center">
            <a class="top-menu-txt border-btn" href="#" data-toggle="modal" data-target="#modalRegister" style="border: 1px solid #4d74e0;border-radius: 4px;">Create Account</a>
          </li> -->
        </ul>
      </div>
      <nav id="mobile-menu-01" class="mobile-menu">
        <div class="line-logo">
          <a class="top-menu-txt" href="https://www.vacaymenow.com/" style="padding: 0;background: transparent;"><img src="../public/img/logo/logo.png" width="190"></a>
          <i class="fa fa-bars"></i>
        </div>
        <div class="clear"></div>
        <ul class="travel-mega-menu-mobile">
          <li class="k-opn line-mini-menu">
            <a class="top-menu-txt" href="https://www.vacaymenow.com/hotels">HOTELS</a>
          </li>
          <li class="k-opn line-mini-menu">
            <a class="top-menu-txt" href="https://www.vacaymenow.com/villa">VILLAS</a>
          </li>
          <li class="k-opn line-mini-menu">
            <a class="top-menu-txt" href="https://www.vacaymenow.com/holiday">TOURS</a>
          </li>
          <li class="k-opn line-mini-menu">
            <a class="top-menu-txt" href="http://discover.vacaymenow.com/">DISCOVER JAMAICA</a>
          </li>
          <li class="">
            <a class="top-menu-txt" href="http://reggae.vacaymenow.com/" target="_blank">Reggae Club</a>
          </li>
          <li class="k-opn line-mini-menu">
            <a class="k-opn badge badge-info" href="http://partner.vacaymenow.com" target="_blank">LIST YOUR PROPERTY</a>
          </li>
          <li class="k-opn line-mini-menu logininpval" style="text-transform: uppercase;">
            <div id="ischecklogin" data-val="no" style="display: none;"></div>
  <a class="top-menu-txt" href="#"><i class="fa fa-user"></i> &nbsp;<i class="fa fa-angle-down"></i></a>
  <div class="grid-container2 blue-link user-dropdown">
    <ul>
      <li><a class="top-menu-txt" href="#" data-toggle="modal" data-target="#modalLogin">Sign In</a></li>
      <li><a class="top-menu-txt" href="#" data-toggle="modal" data-target="#modalRegister">Create Account</a></li>
    </ul>
  </div>
          </li>
          <li class="k-opn line-mini-menu">
            <a class="top-menu-txt" href="javascript:;"><i class="flag-icon flag-icon-us"></i> &nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
            <div class="grid-container blue-link user-dropdown">
              <ul>
                <li><a href="javascript:;"><i class="flag-icon flag-icon-us"></i> USD</a></li>
                <!-- <li><a href="#"><i class="flag-icon flag-icon-us"></i> JMD</a></li> -->
              </ul>
            </div>
          </li>
          <li class="k-opn line-mini-menu">
            <a class="top-menu-txt" href="tel:18338222963"><i class="fa fa-phone"></i> 1-833-822-2963</a>
          </li>
          <!-- <li class="k-opn line-mini-menu">
            <a class="top-menu-txt" href="#" data-toggle="modal" data-target="#modalLogin">Sign In</a>
          </li>
          <li class="line-mini-menu k-opn">
            <a class="top-menu-txt border-btn" href="#" data-toggle="modal" data-target="#modalRegister" style="border: 1px solid #4d74e0;border-radius: 4px;">Create Account</a>
          </li>
          <li class="" style="border-left: 1px solid #ddd;">
            <a class="top-menu-txt" href="#"><i class="flag-icon flag-icon-tw"></i>&nbsp;China</a>
            <div class="grid-container2 blue-link user-dropdown">
              <ul>
                <li><a href="#"><i class="flag-icon flag-icon-us"></i>&nbsp;USA</a></li>
              </ul>
            </div>
          </li> -->
        </ul>
      </nav>
    </div>
  </section>
