
.bg-orange{
  color: #fff;
  background-color: #ff6825;
  margin: 20px 0;
  border-radius: 4px;
  padding: 15px 30px;
}

.email-holder{
  background: #fff url("../../../assets/images/cal-image.png") 95% center no-repeat;
}

.shadow{
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5) !important;
}

@media only screen and (max-width : 1200px){
  button.shadow{
    width: 132px;
  }
}

@media only screen and (min-width : 768px){

}