<div class="row">
  <div class="col-12 col-lg-9">
    <h2 style="font-weight: bold;color: rgb(51, 51, 51);">Hotel Description</h2>
    <p>
      Hyatt zilara all-inclusive is on the lush grounds of the historic rose hall great house. located in montego bay, hyatt zilara offers an adults-only getaway wrapped in personalised, boudnless luxury. Accomodations come with amenities like private balconies, jetted tubs, iPod docks, 24-hour room service, free wifi and range from intimate one-bedroom suites to indulgetnt bulter serviced retreats.
    </p>
    <p>
      the resort's private beach invites guests to laze on its white sands or cool off in a glamourous infinity pool overlooking the coast, Relax and spend the day at the full-service zen spa and experence blissful indulgence with a soothingf oceanfornt message. Then enjoy a feast for the senses from fresh seafood sizzling on the grill to the scent of local herbs at any of the 3 intimate restaurants or explore the adjacent hyat ziva rose hall for even more dining/lounge options and entertainment.
    </p>

    <p>
      Guests can get out and get active with a round of golf on the championship white witch or cinnamon hill courses, catamaran rides, kayaking and windsurfing. if you are not there for thw swim up suites or to luxuriate under the warm caribbean sun ina in-pool loung the nearly 50,000 squre feet of space make hyatt zilara the most extensive meeting and event facilities in the area. Complimentary valet parking and self parking onsite.
    </p>
  </div>
  <div class="col-12 col-lg-3">
    <mat-accordion>
      <mat-expansion-panel style="background: transparent;box-shadow: none;">
        <mat-expansion-panel-header>
          <mat-panel-title>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-content">
          <div style="margin-left: 40px; font-size: 18px;margin-bottom: 10px;">Why Book With Us?</div>
          <ul>
            <li>
              <div>
                <mat-checkbox class="text-left">Exports on Jamaica</mat-checkbox>
                
              </div>
              
            </li>
            <li>
              <div>
                <mat-checkbox class="text-left">Best Price Guarantee</mat-checkbox>
                
              </div>
              
            </li>
            <li>
              <div>
                <mat-checkbox class="text-left">Best Hotels & Tours</mat-checkbox>
                
              </div>
              
            </li>
            <li>
              <div>
                <mat-checkbox class="text-left">Free Vacation Planner</mat-checkbox>
                
              </div>
              
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>