<section class="row ads">
  <div class="col-12 col-lg-4">
    <img src="assets/images/1.png" class="img-fluid" alt="Tours" style="position: relative;margin-left: -15px;">
    <div class="overlay">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <div class="row">
      <div class="col-md-9">
        <div class="header">
          <h4 style="font-size: 16px;color: rgb(7,133,194);font-weight: bold;text-transform: capitalize;margin-bottom: 5px;">{{title}}</h4>
          <p style="font-weight: bold;text-transform: capitalize;">{{subtitle}}</p>
        </div>
        <div class="item-content">
          <p style="margin-bottom: 0;">
            {{content}}
          </p>
          <p><a href="" style="color: rgb(7,133,194)">Read more</a></p>
        </div>
        <div class="icons">
          <span><mdb-icon fas icon="arrows-alt-h"></mdb-icon>&nbsp;Gym</span>
          <span><i class="fa fa-wifi"></i>&nbsp;Free WiFi</span>
          <span><mdb-icon fas icon="swimmer"></mdb-icon>&nbsp;Swimming Pool</span>
          <span><i class="fa fa-bath"></i>&nbsp;Bar</span>
        </div>
        <div style="margin-top: 15px;">
          <a href="" style="color: rgb(115, 175, 167);">Free Cancellation&nbsp;|&nbsp;</a>
          <a href="" style="color: rgb(115, 175, 167);">Breakfast Included</a>
        </div>
      </div>
      <div class="col-md-3 float-rights" style="position: relative;">
        <div style="margin-top:20px;">
          <span class="badge badge-success" style="padding: 5px;border-radius:10px;font-size:12px">{{sale_price}}% off</span>
        </div>
        <div style="margin-top: 20px;color: gray;">
          <del>$ {{old_price}} USD</del>
          <br>
          <span style="font-weight: bold;font-size: 18px;color: rgb(53, 53, 53);">${{price}} USD</span>
          <br>
          <span>per night</span>
        </div>
        <div style="margin-top: 15px;">
          <span class="badge badge-warning" style="color: rgb(38, 52, 127);border-radius: 10px;padding: 5px;background-color: rgb(249, 214, 72);">&nbsp;Club price availabe&nbsp;</span>
        </div>
        <div>
          <button type="button" class="btn btn-primary btn-book">Reserve</button>
        </div>
      </div>
    </div>
  </div>
</section>