<div class="row item-pass">
  <div class="col-12 col-md-8">
    <h2 style="color: rgb(80, 80, 80);text-transform: uppercase;font-weight: bold;font-size: 16px;margin-top: 10px;">
      day pass
    </h2>
    <p>
      Enjoy two amazing adventures with this combination of a spectacular zip line canopy tour and an awesome river tubing safari. Tube along the beautiful Great River experiencing her many moods. Fly 150 feet through the forest canopy along three exciting travers lines. Lunch is included
    </p>
    <p>
      <b><i class="fa fa-clock"></i>&nbsp;Duration:&nbsp;</b>5hrs&nbsp;&nbsp;&nbsp;
      <b>Cancellation Policy:</b> Any cancellations made at least forty-eight(48) hours or more shall not atrract cancellation fee. Any cancellation made less than 48 hours but more than 24 hours in advance of the scheduled tour time, will attract fifty percent (50%) penalty. Any cancellation made within twenty-four 9240 hours or on the same day that the booking is made will attract one hundred percent (100%) penalty. All cancellation must be submitted in writing to the Company and received by Chukka Caribbean Advantures with in the timeframes outlined above to be eligible for a refund
    </p>
  </div>

  <div class="col-12 col-md-4 flex-container float-right">
    <p style="color: rgb(9, 171, 252);font-size: 20px;font-weight: bold;margin-top: 10px;">US$130.00</p>
    <div>
      <div>
        <button type="button" class="btn btn-primary btn-book">Book Now</button>
      </div>
      <div style="margin-top: 10px;">
        <a href="/" style="color: rgb(111,111,111);">View Details&nbsp;</a><i class="fa fa-chevron-circle-down" style="color: rgb(1, 196, 254);"></i>
      </div>
      
    </div>
  </div>

</div>